In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('D:/1 PUTRI/DATA MINING/FIX/dataset_soal No. 4.txt',
                 delimiter=',')

In [6]:
df

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1
5,26,1,1,0,0,0
6,27,2,0,1,0,0
7,32,3,0,1,0,1
8,28,2,0,1,0,0
9,27,1,1,1,0,1
10,36,1,0,1,0,0
11,33,1,1,0,0,1
12,23,1,1,1,0,0
13,20,1,0,1,1,0
14,29,1,2,0,1,1
15,25,1,2,0,0,0
16,25,1,0,1,0,0
17,20,1,2,2,0,1
18,37,3,0,1,1,1
19,24,1,2,0,1,1
20,26,1,1,1,0,0
21,33,2,0,0,1,1
22,25,1,1,2,0,0
23,27,1,0,0,1,1
24,20,1,0,2,1,1
25,18,1,0,1,0,0
26,18,1,1,2,1,1
27,30,1,0,1,0,0
28,32,1,0,2,1,1
29,26,2,1,1,1,0
...,...,...,...,...,...,...
50,33,3,2,1,1,0
51,21,2,1,0,1,1
52,30,3,2,2,0,0
53,35,1,1,0,0,0
54,29,2,0,1,1,1
55,25,2,0,1,0,0
56,32,3,1,0,1,1
57,21,1,0,0,0,1
58,26,1,0,2,0,1
59,30,2,1,2,1,1
60,22,1,2,2,0,0
61,19,1,0,1,0,1
62,32,2,0,0,0,1
63,32,2,0,1,1,1
64,31,1,2,2,1,0
65,35,2,0,1,0,1
66,28,3,0,1,0,1
67,29,2,0,1,1,0
68,25,1,0,0,0,1
69,27,2,2,0,0,0
70,17,1,0,0,0,1
71,29,1,2,0,1,1
72,28,2,0,1,0,0
73,32,3,0,1,1,0
74,38,3,2,2,1,1
75,27,2,1,1,0,0
76,33,4,0,1,0,1
77,29,2,1,2,0,1
78,25,1,2,0,0,1
79,24,2,2,1,0,0

In [7]:
import math 
dis = []
for i in range(80):
    dis.append(math.sqrt((float(df.iloc[i]['Usia'])-30)**2+
                         (float(df.iloc[i]['Kelahiran_ke-'])- 1)**2+
                         (float(df.iloc[i]['Waktu_Kelahiran'])-0)**2+
                         (float(df.iloc[i]['Tekanan_darah'])-1)**2))

In [8]:
df['dis'] = dis
df

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
0,22,1,0,2,0,0,8.062258
1,26,2,0,1,0,1,4.123106
2,26,2,1,1,0,0,4.242641
3,28,1,0,2,0,0,2.236068
4,22,2,0,1,0,1,8.062258
5,26,1,1,0,0,0,4.242641
6,27,2,0,1,0,0,3.162278
7,32,3,0,1,0,1,2.828427
8,28,2,0,1,0,0,2.236068
9,27,1,1,1,0,1,3.162278
10,36,1,0,1,0,0,6.000000
11,33,1,1,0,0,1,3.316625
12,23,1,1,1,0,0,7.071068
13,20,1,0,1,1,0,10.000000
14,29,1,2,0,1,1,2.449490
15,25,1,2,0,0,0,5.477226
16,25,1,0,1,0,0,5.000000
17,20,1,2,2,0,1,10.246951
18,37,3,0,1,1,1,7.280110
19,24,1,2,0,1,1,6.403124
20,26,1,1,1,0,0,4.123106
21,33,2,0,0,1,1,3.316625
22,25,1,1,2,0,0,5.196152
23,27,1,0,0,1,1,3.162278
24,20,1,0,2,1,1,10.049876
25,18,1,0,1,0,0,12.000000
26,18,1,1,2,1,1,12.083046
27,30,1,0,1,0,0,0.000000
28,32,1,0,2,1,1,2.236068
29,26,2,1,1,1,0,4.242641
...,...,...,...,...,...,...,...
50,33,3,2,1,1,0,4.123106
51,21,2,1,0,1,1,9.165151
52,30,3,2,2,0,0,3.000000
53,35,1,1,0,0,0,5.196152
54,29,2,0,1,1,1,1.414214
55,25,2,0,1,0,0,5.099020
56,32,3,1,0,1,1,3.162278
57,21,1,0,0,0,1,9.055385
58,26,1,0,2,0,1,4.123106
59,30,2,1,2,1,1,1.732051
60,22,1,2,2,0,0,8.306624
61,19,1,0,1,0,1,11.000000
62,32,2,0,0,0,1,2.449490
63,32,2,0,1,1,1,2.236068
64,31,1,2,2,1,0,2.449490
65,35,2,0,1,0,1,5.099020
66,28,3,0,1,0,1,2.828427
67,29,2,0,1,1,0,1.414214
68,25,1,0,0,0,1,5.099020
69,27,2,2,0,0,0,3.872983
70,17,1,0,0,0,1,13.038405
71,29,1,2,0,1,1,2.449490
72,28,2,0,1,0,0,2.236068
73,32,3,0,1,1,0,2.828427
74,38,3,2,2,1,1,8.544004
75,27,2,1,1,0,0,3.316625
76,33,4,0,1,0,1,4.242641
77,29,2,1,2,0,1,2.000000
78,25,1,2,0,0,1,5.477226
79,24,2,2,1,0,0,6.403124

In [9]:
df.sort_values('dis')

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
27,30,1,0,1,0,0,0.000000
38,31,1,0,1,0,0,1.000000
67,29,2,0,1,1,0,1.414214
54,29,2,0,1,1,1,1.414214
59,30,2,1,2,1,1,1.732051
49,29,2,0,0,1,1,1.732051
77,29,2,1,2,0,1,2.000000
28,32,1,0,2,1,1,2.236068
72,28,2,0,1,0,0,2.236068
63,32,2,0,1,1,1,2.236068
3,28,1,0,2,0,0,2.236068
8,28,2,0,1,0,0,2.236068
32,32,2,0,2,1,1,2.449490
47,32,2,0,2,1,1,2.449490
64,31,1,2,2,1,0,2.449490
71,29,1,2,0,1,1,2.449490
62,32,2,0,0,0,1,2.449490
37,31,2,2,1,0,0,2.449490
14,29,1,2,0,1,1,2.449490
45,28,3,0,1,1,1,2.828427
7,32,3,0,1,0,1,2.828427
66,28,3,0,1,0,1,2.828427
73,32,3,0,1,1,0,2.828427
35,28,3,0,2,0,1,3.000000
52,30,3,2,2,0,0,3.000000
33,27,2,0,1,1,1,3.162278
40,27,1,0,2,1,1,3.162278
23,27,1,0,0,1,1,3.162278
9,27,1,1,1,0,1,3.162278
6,27,2,0,1,0,0,3.162278
...,...,...,...,...,...,...,...
68,25,1,0,0,0,1,5.099020
65,35,2,0,1,0,1,5.099020
55,25,2,0,1,0,0,5.099020
22,25,1,1,2,0,0,5.196152
53,35,1,1,0,0,0,5.196152
15,25,1,2,0,0,0,5.477226
78,25,1,2,0,0,1,5.477226
10,36,1,0,1,0,0,6.000000
42,36,1,1,2,0,1,6.164414
79,24,2,2,1,0,0,6.403124
19,24,1,2,0,1,1,6.403124
44,36,4,0,2,1,1,6.782330
12,23,1,1,1,0,0,7.071068
18,37,3,0,1,1,1,7.280110
43,22,1,0,1,0,1,8.000000
0,22,1,0,2,0,0,8.062258
4,22,2,0,1,0,1,8.062258
60,22,1,2,2,0,0,8.306624
74,38,3,2,2,1,1,8.544004
57,21,1,0,0,0,1,9.055385
51,21,2,1,0,1,1,9.165151
31,40,1,0,1,1,1,10.000000
13,20,1,0,1,1,0,10.000000
24,20,1,0,2,1,1,10.049876
17,20,1,2,2,0,1,10.246951
41,19,1,0,1,0,1,11.000000
61,19,1,0,1,0,1,11.000000
25,18,1,0,1,0,0,12.000000
26,18,1,1,2,1,1,12.083046
70,17,1,0,0,0,1,13.038405

In [10]:
y = df.sort_values('dis').head(5)
y

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
27,30,1,0,1,0,0,0.000000
38,31,1,0,1,0,0,1.000000
67,29,2,0,1,1,0,1.414214
54,29,2,0,1,1,1,1.414214
59,30,2,1,2,1,1,1.732051

In [11]:
z = y["Caesarian"]
z

27    0
38    0
67    0
54    1
59    1
Name: Caesarian, dtype: int64

In [12]:
np.mean(z)

0.4

In [16]:
df.to_excel('D:/1 PUTRI/DATA MINING/FIX/uas_No_4a.xls')