In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.__version__

'0.18.1'

In [4]:
df = pd.read_csv('D:/dataset_soal No.4.txt',
                 delimiter=',')

In [5]:
df

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian
0,22,1,0,2,0,0
1,26,2,0,1,0,1
2,26,2,1,1,0,0
3,28,1,0,2,0,0
4,22,2,0,1,0,1
5,26,1,1,0,0,0
6,27,2,0,1,0,0
7,32,3,0,1,0,1
8,28,2,0,1,0,0
9,27,1,1,1,0,1
10,36,1,0,1,0,0
11,33,1,1,0,0,1
12,23,1,1,1,0,0
13,20,1,0,1,1,0
14,29,1,2,0,1,1
15,25,1,2,0,0,0
16,25,1,0,1,0,0
17,20,1,2,2,0,1
18,37,3,0,1,1,1
19,24,1,2,0,1,1
20,26,1,1,1,0,0
21,33,2,0,0,1,1
22,25,1,1,2,0,0
23,27,1,0,0,1,1
24,20,1,0,2,1,1
25,18,1,0,1,0,0
26,18,1,1,2,1,1
27,30,1,0,1,0,0
28,32,1,0,2,1,1
29,26,2,1,1,1,0
...,...,...,...,...,...,...
50,33,3,2,1,1,0
51,21,2,1,0,1,1
52,30,3,2,2,0,0
53,35,1,1,0,0,0
54,29,2,0,1,1,1
55,25,2,0,1,0,0
56,32,3,1,0,1,1
57,21,1,0,0,0,1
58,26,1,0,2,0,1
59,30,2,1,2,1,1
60,22,1,2,2,0,0
61,19,1,0,1,0,1
62,32,2,0,0,0,1
63,32,2,0,1,1,1
64,31,1,2,2,1,0
65,35,2,0,1,0,1
66,28,3,0,1,0,1
67,29,2,0,1,1,0
68,25,1,0,0,0,1
69,27,2,2,0,0,0
70,17,1,0,0,0,1
71,29,1,2,0,1,1
72,28,2,0,1,0,0
73,32,3,0,1,1,0
74,38,3,2,2,1,1
75,27,2,1,1,0,0
76,33,4,0,1,0,1
77,29,2,1,2,0,1
78,25,1,2,0,0,1
79,24,2,2,1,0,0

In [6]:
import math 
dis = []
for i in range(80):
    dis.append(math.sqrt((float(df.iloc[i]['Usia'])-29)**2+
                         (float(df.iloc[i]['Kelahiran_ke-'])- 2)**2+
                         (float(df.iloc[i]['Waktu_Kelahiran'])-0)**2+
                         (float(df.iloc[i]['Tekanan_darah'])-2)**2))

In [7]:
df['dis'] = dis
df

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
0,22,1,0,2,0,0,7.071068
1,26,2,0,1,0,1,3.162278
2,26,2,1,1,0,0,3.316625
3,28,1,0,2,0,0,1.414214
4,22,2,0,1,0,1,7.071068
5,26,1,1,0,0,0,3.872983
6,27,2,0,1,0,0,2.236068
7,32,3,0,1,0,1,3.316625
8,28,2,0,1,0,0,1.414214
9,27,1,1,1,0,1,2.645751
10,36,1,0,1,0,0,7.141428
11,33,1,1,0,0,1,4.690416
12,23,1,1,1,0,0,6.244998
13,20,1,0,1,1,0,9.110434
14,29,1,2,0,1,1,3.000000
15,25,1,2,0,0,0,5.000000
16,25,1,0,1,0,0,4.242641
17,20,1,2,2,0,1,9.273618
18,37,3,0,1,1,1,8.124038
19,24,1,2,0,1,1,5.830952
20,26,1,1,1,0,0,3.464102
21,33,2,0,0,1,1,4.472136
22,25,1,1,2,0,0,4.242641
23,27,1,0,0,1,1,3.000000
24,20,1,0,2,1,1,9.055385
25,18,1,0,1,0,0,11.090537
26,18,1,1,2,1,1,11.090537
27,30,1,0,1,0,0,1.732051
28,32,1,0,2,1,1,3.162278
29,26,2,1,1,1,0,3.316625
...,...,...,...,...,...,...,...
50,33,3,2,1,1,0,4.690416
51,21,2,1,0,1,1,8.306624
52,30,3,2,2,0,0,2.449490
53,35,1,1,0,0,0,6.480741
54,29,2,0,1,1,1,1.000000
55,25,2,0,1,0,0,4.123106
56,32,3,1,0,1,1,3.872983
57,21,1,0,0,0,1,8.306624
58,26,1,0,2,0,1,3.162278
59,30,2,1,2,1,1,1.414214
60,22,1,2,2,0,0,7.348469
61,19,1,0,1,0,1,10.099505
62,32,2,0,0,0,1,3.605551
63,32,2,0,1,1,1,3.162278
64,31,1,2,2,1,0,3.000000
65,35,2,0,1,0,1,6.082763
66,28,3,0,1,0,1,1.732051
67,29,2,0,1,1,0,1.000000
68,25,1,0,0,0,1,4.582576
69,27,2,2,0,0,0,3.464102
70,17,1,0,0,0,1,12.206556
71,29,1,2,0,1,1,3.000000
72,28,2,0,1,0,0,1.414214
73,32,3,0,1,1,0,3.316625
74,38,3,2,2,1,1,9.273618
75,27,2,1,1,0,0,2.449490
76,33,4,0,1,0,1,4.582576
77,29,2,1,2,0,1,1.000000
78,25,1,2,0,0,1,5.000000
79,24,2,2,1,0,0,5.477226

In [8]:
df.sort_values('dis')

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
54,29,2,0,1,1,1,1.000000
77,29,2,1,2,0,1,1.000000
67,29,2,0,1,1,0,1.000000
59,30,2,1,2,1,1,1.414214
3,28,1,0,2,0,0,1.414214
35,28,3,0,2,0,1,1.414214
8,28,2,0,1,0,0,1.414214
72,28,2,0,1,0,0,1.414214
45,28,3,0,1,1,1,1.732051
66,28,3,0,1,0,1,1.732051
27,30,1,0,1,0,0,1.732051
49,29,2,0,0,1,1,2.000000
6,27,2,0,1,0,0,2.236068
40,27,1,0,2,1,1,2.236068
33,27,2,0,1,1,1,2.236068
75,27,2,1,1,0,0,2.449490
38,31,1,0,1,0,0,2.449490
52,30,3,2,2,0,0,2.449490
9,27,1,1,1,0,1,2.645751
37,31,2,2,1,0,0,3.000000
64,31,1,2,2,1,0,3.000000
47,32,2,0,2,1,1,3.000000
23,27,1,0,0,1,1,3.000000
32,32,2,0,2,1,1,3.000000
71,29,1,2,0,1,1,3.000000
14,29,1,2,0,1,1,3.000000
63,32,2,0,1,1,1,3.162278
28,32,1,0,2,1,1,3.162278
1,26,2,0,1,0,1,3.162278
58,26,1,0,2,0,1,3.162278
...,...,...,...,...,...,...,...
68,25,1,0,0,0,1,4.582576
50,33,3,2,1,1,0,4.690416
11,33,1,1,0,0,1,4.690416
15,25,1,2,0,0,0,5.000000
78,25,1,2,0,0,1,5.000000
79,24,2,2,1,0,0,5.477226
19,24,1,2,0,1,1,5.830952
65,35,2,0,1,0,1,6.082763
12,23,1,1,1,0,0,6.244998
53,35,1,1,0,0,0,6.480741
0,22,1,0,2,0,0,7.071068
4,22,2,0,1,0,1,7.071068
43,22,1,0,1,0,1,7.141428
10,36,1,0,1,0,0,7.141428
42,36,1,1,2,0,1,7.141428
44,36,4,0,2,1,1,7.280110
60,22,1,2,2,0,0,7.348469
18,37,3,0,1,1,1,8.124038
51,21,2,1,0,1,1,8.306624
57,21,1,0,0,0,1,8.306624
24,20,1,0,2,1,1,9.055385
13,20,1,0,1,1,0,9.110434
17,20,1,2,2,0,1,9.273618
74,38,3,2,2,1,1,9.273618
41,19,1,0,1,0,1,10.099505
61,19,1,0,1,0,1,10.099505
26,18,1,1,2,1,1,11.090537
31,40,1,0,1,1,1,11.090537
25,18,1,0,1,0,0,11.090537
70,17,1,0,0,0,1,12.206556

In [9]:
y = df.sort_values('dis').head(5)
y

,Usia,Kelahiran_ke-,Waktu_Kelahiran,Tekanan_darah,Kelainan_jantung,Caesarian,dis
54,29,2,0,1,1,1,1.000000
77,29,2,1,2,0,1,1.000000
67,29,2,0,1,1,0,1.000000
59,30,2,1,2,1,1,1.414214
3,28,1,0,2,0,0,1.414214

In [10]:
z = y["Caesarian"]
z

54    1
77    1
67    0
59    1
3     0
Name: Caesarian, dtype: int64

In [11]:
np.mean(z)

0.6